In [1]:
import os
os.getcwd()
os.listdir('.')

['.DS_Store',
 '.git',
 '.ipynb_checkpoints',
 'algorithms.txt',
 'extract_feature.py',
 'gender.py',
 'myfirstforest.csv',
 'myfirstforest.py',
 'test.csv',
 'titanic.ipynb',
 'train.csv']

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%pylab inline
import re

Populating the interactive namespace from numpy and matplotlib

In [4]:
data = pd.read_csv('train.csv')
print data.columns
data.dtypes

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'], dtype='object')

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
data['Embarked'].isnull().sum()

2

In [7]:
data['Name']

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
12                       Saundercock, Mr. William Henry
13                          Andersson, Mr. Anders Johan
14                 Vestrom, Miss. Hulda Amanda Adolfina
...
876                    Gustafsson, Mr. Alfred Ossian
877                             Petroff, Mr. Nedelio
878                               Laleff, Mr. Kristo
879    Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880     Shelley, Mrs. William (Imanita Parrish Hall)
881                               Markun, Mr. Johann
882                     Dahlberg, Miss. Gerda Ulrika
883                    Banfield, Mr. Frederick James
884                           Sutehall, Mr. Henry Jr
885             Rice, Mrs. William (Margaret Norton)
886                            Montvila, Rev. Juozas
887                     Graham, Miss. Margaret Edith
888         Johnston, Miss. Catherine Helen "Carrie"
889                            Behr, Mr. Karl Howell
890                              Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [8]:
data['Name'].nunique()

891

In [9]:
title = data['Name'].str.findall( (' .{2,6}\.'))
title

0         [ Mr.]
1        [ Mrs.]
2       [ Miss.]
3        [ Mrs.]
4         [ Mr.]
5         [ Mr.]
6         [ Mr.]
7     [ Master.]
8        [ Mrs.]
9        [ Mrs.]
10      [ Miss.]
11      [ Miss.]
12        [ Mr.]
13        [ Mr.]
14      [ Miss.]
...
876      [ Mr.]
877      [ Mr.]
878      [ Mr.]
879     [ Mrs.]
880     [ Mrs.]
881      [ Mr.]
882    [ Miss.]
883      [ Mr.]
884      [ Mr.]
885     [ Mrs.]
886     [ Rev.]
887    [ Miss.]
888    [ Miss.]
889      [ Mr.]
890      [ Mr.]
Name: Name, Length: 891, dtype: object

In [10]:
type(title)

pandas.core.series.Series

In [11]:
print sum(title.apply(len)>1)
#so there is no name parsed into two elements
#print (title.loc[0])
#print type(title.loc[0])
title_str = title.apply(str)
print title_str.nunique()
#title_str.unique()
title_str.value_counts()

0
16

[' Mr.']        517
[' Miss.']      182
[' Mrs.']       125
[' Master.']     40
[' Dr.']          7
[' Rev.']         6
[' Major.']       2
[' Mlle.']        2
[' Col.']         2
[]                2
[' Mme.']         1
[' Don.']         1
[' Ms.']          1
[' Sir.']         1
[' Lady.']        1
[' Capt.']        1
dtype: int64

In [12]:
title_str0 = title_str.apply(lambda x: x[3:-2])
#when use slicing,for the elements that donot have enough length, it will to Empty elements!!
#see below
print title_str0.nunique()
print title_str0.value_counts()
print 'the empty element is: ', title_str0.value_counts().index[9]
#the above will show nothing but PRINT, you cannot tell; if you put it as the last evaluation element, you will see it
#note the differences of outputing here in ipython notebook!
# the last statement will generate the 'Out', others will NOT!!!
title_str0.value_counts().index[9]

16
Mr.        517
Miss.      182
Mrs.       125
Master.     40
Dr.          7
Rev.         6
Mlle.        2
Major.       2
Col.         2
             2
Mme.         1
Ms.          1
Don.         1
Capt.        1
Sir.         1
Lady.        1
dtype: int64
the empty element is:

''

In [13]:
#replace the target titles
#for all the elements other than the  empty, assign them into the four top categories in the title_str0
# Master is replaced by Mister(Mr.) in 19th century, titanic happned in 1912, so master. meaning boys and young men
# major -> Mr.
# Mlle. -> Miss.
# Ms    -> Mrs.
# Mme. Madame-> Mrs.
# Dr. -> Mr.
# Rev. -> Mr.
# Col. -> Mr.
# Don. -> Mr.
# Capt. -> Mr.
# Sir. -> Mr.
# Lady. -> Mrs.
#check Don.:::
name = data['Name']
title_str0[title_str0 == 'Don.'].index
name.loc[title_str0[title_str0 == 'Don.'].index]

30    Uruchurtu, Don. Manuel E
Name: Name, dtype: object

In [14]:
mr_index = title_str0.apply(lambda x: x in ['Major.','Dr.','Rev.','Col.','Don.','Capt.','Sir.'])
mrs_index = title_str0.apply(lambda x: x in ['Ms.','Mme.','Lady.'])
miss_index = title_str0.apply(lambda x: x in ['Mlle.'])
title_str0[mr_index] = 'Mr.'
title_str0[mrs_index] = 'Mrs.'
title_str0[miss_index] = 'Miss.'
title_str0.value_counts()

Mr.        537
Miss.      184
Mrs.       128
Master.     40
             2
dtype: int64

In [15]:
print name[title_str0[title_str0 ==''].index]
#Countess. -> Mrs.
title_str0.loc[759] = "Mrs."
title_str0.loc[822] = "Mr."
title_str0.value_counts()

759    Rothes, the Countess. of (Lucy Noel Martha Dye...
822                      Reuchlin, Jonkheer. John George
Name: Name, dtype: object

Mr.        538
Miss.      184
Mrs.       129
Master.     40
dtype: int64

In [16]:
data['title'] = title_str0
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,title
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,Mr.
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,Mrs.
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,Mrs.
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,Mr.
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Mr.
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,Mr.
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S,Master.
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S,Mrs.
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C,Mrs.
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S,Miss.
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S,Miss.
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,NaN,S,Mr.
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,NaN,S,Mr.
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S,Miss.
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S,Mrs.
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,NaN,Q,Master.
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Mr.
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,NaN,S,Mrs.
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Mrs.
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,NaN,S,Mr.
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S,Mr.
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q,Miss.
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S,Mr.
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,NaN,S,Miss.
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S,Mrs.
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Mr.
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S,Mr.
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,Miss.
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,Mr.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,NaN,S,Mr.
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S,Mrs.
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Miss.
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,NaN,S,Mr.
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,NaN,S,Mrs.
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,NaN,C,Miss.
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S,Mr.
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,Mr.
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,NaN,S,Master.
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,NaN,S,Mr.
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S,Mrs.
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,B51 B53 B55,S,Mr.
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,NaN,S,Mr.
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,NaN,C,Mrs.
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,NaN,C,Miss.
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,NaN,S,Mr.
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,NaN,S,Mr.
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Mr.
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C,Mrs.
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,NaN,S,Mrs.
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,NaN,S,Mr.
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,NaN,S,Miss.
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S,Mr.
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S,Mr.
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,NaN,Q,Mrs.
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,NaN,S,Mr.
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S,Miss.
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss.
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C,Mr.
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,NaN,Q,Mr.

In [37]:
#now working on the Ticket, Cabin, Embarked variable
pd.set_option('display.max_rows', 999)
data.loc[:,['Ticket','Cabin', 'Embarked']]
#so ticket number part and string part, we can only retain the number part since MOST of the string parts are missing
# ticket number indicates the seat position, which might be related to the survive likelihood
#one the argument is that for ticket numbers that are similar, if they have some string beforehand, the strings are the same for most of the time
# but, it is definitely not linear, so random forest and etc non-linear models should try this variable extrace from tickets--as float type

#for Cabin, fill all the NaN value as a string, would this tell us something?
#for Embarked, just fill the missing values with the mode, this would be OK

                 Ticket            Cabin Embarked
0             A/5 21171              NaN        S
1              PC 17599              C85        C
2      STON/O2. 3101282              NaN        S
3                113803             C123        S
4                373450              NaN        S
5                330877              NaN        Q
6                 17463              E46        S
7                349909              NaN        S
8                347742              NaN        S
9                237736              NaN        C
10              PP 9549               G6        S
11               113783             C103        S
12            A/5. 2151              NaN        S
13               347082              NaN        S
14               350406              NaN        S
15               248706              NaN        S
16               382652              NaN        Q
17               244373              NaN        S
18               345763              NaN        S
19                 2649              NaN        C
20               239865              NaN        S
21               248698              D56        S
22               330923              NaN        Q
23               113788               A6        S
24               349909              NaN        S
25               347077              NaN        S
26                 2631              NaN        C
27                19950      C23 C25 C27        S
28               330959              NaN        Q
29               349216              NaN        S
30             PC 17601              NaN        C
31             PC 17569              B78        C
32               335677              NaN        Q
33           C.A. 24579              NaN        S
34             PC 17604              NaN        C
35               113789              NaN        S
36                 2677              NaN        C
37           A./5. 2152              NaN        S
38               345764              NaN        S
39                 2651              NaN        C
40                 7546              NaN        S
41                11668              NaN        S
42               349253              NaN        C
43        SC/Paris 2123              NaN        C
44               330958              NaN        Q
45      S.C./A.4. 23567              NaN        S
46               370371              NaN        Q
47                14311              NaN        Q
48                 2662              NaN        C
49               349237              NaN        S
50              3101295              NaN        S
51           A/4. 39886              NaN        S
52             PC 17572              D33        C
53                 2926              NaN        S
54               113509              B30        C
55                19947              C52        S
56           C.A. 31026              NaN        S
57                 2697              NaN        C
58           C.A. 34651              NaN        S
59              CA 2144              NaN        S
60                 2669              NaN        C
61               113572              B28      NaN
62                36973              C83        S
63               347088              NaN        S
64             PC 17605              NaN        C
65                 2661              NaN        C
66           C.A. 29395              F33        S
67            S.P. 3464              NaN        S
68              3101281              NaN        S
69               315151              NaN        S
70           C.A. 33111              NaN        S
71              CA 2144              NaN        S
72         S.O.C. 14879              NaN        S
73                 2680              NaN        C
74                 1601              NaN        S
75               348123            F G73        S
76               349208              NaN        S
77               374746              NaN        S
78               248738              NaN        S
79               364516              NaN        S
80               345767              NaN        S
81               345779              NaN        S
82               330932              NaN        Q
83               113059              NaN        S
84           SO/C 14885              NaN        S
85              3101278              NaN        S
86           W./C. 6608              NaN        S
87      SOTON/OQ 392086              NaN        S
88                19950      C23 C25 C27        S
89               343275              NaN        S
90               343276              NaN        S
91               347466              NaN        S
92          W.E.P. 5734              E31        S
93            C.A. 2315              NaN        S
94               364500              NaN        S
95               374910              NaN        S
96             PC 17754               A5        C
97             PC 17759          D10 D12        C
98               231919              NaN        S
99               244367              NaN        S
100              349245              NaN        S
101              349215              NaN        S
102               35281              D26        S
103                7540              NaN        S
104             3101276              NaN        S
105              349207              NaN        S
106              343120              NaN        S
107              312991              NaN        S
108              349249              NaN        S
109              371110              NaN        Q
110              110465             C110        S
111                2665              NaN        C
112              324669              NaN        S
113                4136              NaN        S
114                2627              NaN        C
115   STON/O 2. 3101294              NaN        S
116              370369              NaN        Q
117               11668              NaN        S
118            PC 17558          B58 B60        C
119              347082              NaN        S
120        S.O.C. 14879              NaN        S
121           A4. 54510              NaN        S
122              237736              NaN        C
123               27267             E101        S
124               35281              D26        S
125                2651              NaN        C
126              370372              NaN        Q
127             C 17369              NaN        S
128                2668            F E69        C
129              347061              NaN        S
130              349241              NaN        C
131  SOTON/O.Q. 3101307              NaN        S
132           A/5. 3337              NaN        S
133              228414              NaN        S
134          C.A. 29178              NaN        S
135       SC/PARIS 2133              NaN        C
136               11752              D47        S
137              113803             C123        S
138                7534              NaN        S
139            PC 17593              B86        C
140                2678              NaN        C
141              347081              NaN        S
142    STON/O2. 3101279              NaN        S
143              365222              NaN        Q
144              231945              NaN        S
145          C.A. 33112              NaN        S
146              350043              NaN        S
147          W./C. 6608              NaN        S
148              230080               F2        S
149              244310              NaN        S
150         S.O.P. 1166              NaN        S
151              113776               C2        S
152          A.5. 11206              NaN        S
153            A/5. 851              NaN        S
154           Fa 265302              NaN        S
155            PC 17597              NaN        C
156               35851              NaN        Q
157     SOTON/OQ 392090              NaN        S
158              315037              NaN        S
159            CA. 2343              NaN        S
160              371362              NaN        S
161          C.A. 33595              NaN        S
162              347068              NaN        S
163              315093              NaN        S
164             3101295              NaN        S
165              363291              NaN        S
166              113505              E33        S
167              347088              NaN        S
168            PC 17318              NaN        S
169                1601              NaN        S
170              111240              B19        S
171              382652              NaN        Q
172              347742              NaN        S
173   STON/O 2. 3101280              NaN        S
174               17764               A7        C
175              350404              NaN        S
176                4133              NaN        S
177            PC 17595              C49        C
178              250653              NaN        S
179                LINE              NaN        S
180            CA. 2343              NaN        S
181       SC/PARIS 2131              NaN        C
182              347077              NaN        S
183              230136               F4        S
184              315153              NaN        S
185              113767              A32        S
186              370365              NaN        Q
187              111428              NaN        S
188              364849              NaN        Q
189              349247              NaN        S
190              234604              NaN        S
191               28424              NaN        S
192              350046              NaN        S
193              230080               F2        S
194            PC 17610               B4        C
195            PC 17569              B80        C
196              368703              NaN        Q
197                4579              NaN        S
198              370370              NaN        Q
199              248747              NaN        S
200              345770              NaN        S
201            CA. 2343              NaN        S
202             3101264              NaN        S
203                2628              NaN        C
204            A/5 3540              NaN        S
205              347054               G6        S
206             3101278              NaN        S
207                2699              NaN        C
208              367231              NaN        Q
209              112277              A31        C
210  SOTON/O.Q. 3101311              NaN        S
211        F.C.C. 13528              NaN        S
212           A/5 21174              NaN        S
213              250646              NaN        S
214              367229              NaN        Q
215               35273              D36        C
216    STON/O2. 3101283              NaN        S
217              243847              NaN        S
218               11813              D15        C
219           W/C 14208              NaN        S
220     SOTON/OQ 392089              NaN        S
221              220367              NaN        S
222               21440              NaN        S
223              349234              NaN        S
224               19943              C93        S
225             PP 4348              NaN        S
226           SW/PP 751              NaN        S
227           A/5 21173              NaN        S
228              236171              NaN        S
229                4133              NaN        S
230               36973              C83        S
231              347067              NaN        S
232              237442              NaN        S
233              347077              NaN        S
234          C.A. 29566              NaN        S
235          W./C. 6609              NaN        S
236               26707              NaN        S
237          C.A. 31921              NaN        S
238               28665              NaN        S
239          SCO/W 1585              NaN        S
240                2665              NaN        C
241              367230              NaN        Q
242         W./C. 14263              NaN        S
243   STON/O 2. 3101275              NaN        S
244                2694              NaN        C
245               19928              C78        Q
246              347071              NaN        S
247              250649              NaN        S
248               11751              D35        S
249              244252              NaN        S
250              362316              NaN        S
251              347054               G6        S
252              113514              C87        S
253           A/5. 3336              NaN        S
254              370129              NaN        S
255                2650              NaN        C
256            PC 17585              NaN        C
257              110152              B77        S
258            PC 17755              NaN        C
259              230433              NaN        S
260              384461              NaN        Q
261              347077              NaN        S
262              110413              E67        S
263              112059              B94        S
264              382649              NaN        Q
265          C.A. 17248              NaN        S
266             3101295              NaN        S
267              347083              NaN        S
268            PC 17582             C125        S
269            PC 17760              C99        S
270              113798              NaN        S
271                LINE              NaN        S
272              250644              NaN        S
273            PC 17596             C118        C
274              370375              NaN        Q
275               13502               D7        S
276              347073              NaN        S
277              239853              NaN        S
278              382652              NaN        Q
279           C.A. 2673              NaN        S
280              336439              NaN        Q
281              347464              NaN        S
282              345778              NaN        S
283          A/5. 10482              NaN        S
284              113056              A19        S
285              349239              NaN        C
286              345774              NaN        S
287              349206              NaN        S
288              237798              NaN        S
289              370373              NaN        Q
290               19877              NaN        S
291               11967              B49        C
292       SC/Paris 2163                D        C
293              349236              NaN        S
294              349233              NaN        S
295            PC 17612              NaN        C
296                2693              NaN        C
297              113781          C22 C26        S
298               19988             C106        S
299            PC 17558          B58 B60        C
300                9234              NaN        Q
301              367226              NaN        Q
302                LINE              NaN        S
303              226593             E101        Q
304            A/5 2466              NaN        S
305              113781          C22 C26        S
306               17421              NaN        C
307            PC 17758              C65        C
308           P/PP 3381              NaN        C
309            PC 17485              E36        C
310               11767              C54        C
311            PC 17608  B57 B59 B63 B66        C
312              250651              NaN        S
313              349243              NaN        S
314        F.C.C. 13529              NaN        S
315              347470              NaN        S
316              244367              NaN        S
317               29011              NaN        S
318               36928               C7        S
319               16966              E34        C
320           A/5 21172              NaN        S
321              349219              NaN        S
322              234818              NaN        Q
323              248738              NaN        S
324            CA. 2343              NaN        S
325            PC 17760              C32        C
326              345364              NaN        S
327               28551                D        S
328              363291              NaN        S
329              111361              B18        C
330              367226              NaN        Q
331              113043             C124        S
332            PC 17582              C91        S
333              345764              NaN        S
334            PC 17611              NaN        S
335              349225              NaN        S
336              113776               C2        S
337               16966              E40        C
338                7598              NaN        S
339              113784                T        S
340              230080               F2        S
341               19950      C23 C25 C27        S
342              248740              NaN        S
343              244361              NaN        S
344              229236              NaN        S
345              248733              F33        S
346               31418              NaN        S
347              386525              NaN        S
348          C.A. 37671              NaN        S
349              315088              NaN        S
350                7267              NaN        S
351              113510             C128        S
352                2695              NaN        C
353              349237              NaN        S
354                2647              NaN        C
355              345783              NaN        S
356              113505              E33        S
357              237671              NaN        S
358              330931              NaN        Q
359              330980              NaN        Q
360              347088              NaN        S
361       SC/PARIS 2167              NaN        C
362                2691              NaN        C
363  SOTON/O.Q. 3101310              NaN        S
364              370365              NaN        Q
365              C 7076              NaN        S
366              110813              D37        C
367                2626              NaN        C
368               14313              NaN        Q
369            PC 17477              B35        C
370               11765              E50        C
371             3101267              NaN        S
372              323951              NaN        S
373            PC 17760              NaN        C
374              349909              NaN        S
375            PC 17604              NaN        C
376              C 7077              NaN        S
377              113503              C82        C
378                2648              NaN        C
379              347069              NaN        S
380            PC 17757              NaN        C
381                2653              NaN        C
382   STON/O 2. 3101293              NaN        S
383              113789              NaN        S
384              349227              NaN        S
385        S.O.C. 14879              NaN        S
386             CA 2144              NaN        S
387               27849              NaN        S
388              367655              NaN        Q
389             SC 1748              NaN        C
390              113760          B96 B98        S
391              350034              NaN        S
392             3101277              NaN        S
393               35273              D36        C
394             PP 9549               G6        S
395              350052              NaN        S
396              350407              NaN        S
397               28403              NaN        S
398              244278              NaN        S

In [44]:
data.loc[data.Cabin.isnull(), 'Cabin'] = 'unknown'

In [68]:
data.loc[data.Embarked.isnull(),'Embarked'] = data.Embarked.mode().values

In [73]:
data.iloc[[61,829], 11]

61     S
829    S
Name: Embarked, dtype: object

In [77]:
data['Ticket'].str.findall(' .{1,20}')

0           [ 21171]
1           [ 17599]
2         [ 3101282]
3                 []
4                 []
5                 []
6                 []
7                 []
8                 []
9                 []
10           [ 9549]
11                []
12           [ 2151]
13                []
14                []
15                []
16                []
17                []
18                []
19                []
20                []
21                []
22                []
23                []
24                []
25                []
26                []
27                []
28                []
29                []
30          [ 17601]
31          [ 17569]
32                []
33          [ 24579]
34          [ 17604]
35                []
36                []
37           [ 2152]
38                []
39                []
40                []
41                []
42                []
43           [ 2123]
44                []
45          [ 23567]
46                []
47                []
48                []
49                []
50                []
51          [ 39886]
52          [ 17572]
53                []
54                []
55                []
56          [ 31026]
57                []
58          [ 34651]
59           [ 2144]
60                []
61                []
62                []
63                []
64          [ 17605]
65                []
66          [ 29395]
67           [ 3464]
68                []
69                []
70          [ 33111]
71           [ 2144]
72          [ 14879]
73                []
74                []
75                []
76                []
77                []
78                []
79                []
80                []
81                []
82                []
83                []
84          [ 14885]
85                []
86           [ 6608]
87         [ 392086]
88                []
89                []
90                []
91                []
92           [ 5734]
93           [ 2315]
94                []
95                []
96          [ 17754]
97          [ 17759]
98                []
99                []
100               []
101               []
102               []
103               []
104               []
105               []
106               []
107               []
108               []
109               []
110               []
111               []
112               []
113               []
114               []
115    [ 2. 3101294]
116               []
117               []
118         [ 17558]
119               []
120         [ 14879]
121         [ 54510]
122               []
123               []
124               []
125               []
126               []
127         [ 17369]
128               []
129               []
130               []
131       [ 3101307]
132          [ 3337]
133               []
134         [ 29178]
135          [ 2133]
136               []
137               []
138               []
139         [ 17593]
140               []
141               []
142       [ 3101279]
143               []
144               []
145         [ 33112]
146               []
147          [ 6608]
148               []
149               []
150          [ 1166]
151               []
152         [ 11206]
153           [ 851]
154        [ 265302]
155         [ 17597]
156               []
157        [ 392090]
158               []
159          [ 2343]
160               []
161         [ 33595]
162               []
163               []
164               []
165               []
166               []
167               []
168         [ 17318]
169               []
170               []
171               []
172               []
173    [ 2. 3101280]
174               []
175               []
176               []
177         [ 17595]
178               []
179               []
180          [ 2343]
181          [ 2131]
182               []
183               []
184               []
185               []
186               []
187               []
188               []
189               []
190               []
191               []
192               []
193               []
194         [ 17610]
195         [ 17569]
196               []
197               []
198               []
199               []
200               []
201          [ 2343]
202               []
203               []
204          [ 3540]
205               []
206               []
207               []
208               []
209               []
210       [ 3101311]
211         [ 13528]
212         [ 21174]
213               []
214               []
215               []
216       [ 3101283]
217               []
218               []
219         [ 14208]
220        [ 392089]
221               []
222               []
223               []
224               []
225          [ 4348]
226           [ 751]
227         [ 21173]
228               []
229               []
230               []
231               []
232               []
233               []
234         [ 29566]
235          [ 6609]
236               []
237         [ 31921]
238               []
239          [ 1585]
240               []
241               []
242         [ 14263]
243    [ 2. 3101275]
244               []
245               []
246               []
247               []
248               []
249               []
250               []
251               []
252               []
253          [ 3336]
254               []
255               []
256         [ 17585]
257               []
258         [ 17755]
259               []
260               []
261               []
262               []
263               []
264               []
265         [ 17248]
266               []
267               []
268         [ 17582]
269         [ 17760]
270               []
271               []
272               []
273         [ 17596]
274               []
275               []
276               []
277               []
278               []
279          [ 2673]
280               []
281               []
282               []
283         [ 10482]
284               []
285               []
286               []
287               []
288               []
289               []
290               []
291               []
292          [ 2163]
293               []
294               []
295         [ 17612]
296               []
297               []
298               []
299         [ 17558]
300               []
301               []
302               []
303               []
304          [ 2466]
305               []
306               []
307         [ 17758]
308          [ 3381]
309         [ 17485]
310               []
311         [ 17608]
312               []
313               []
314         [ 13529]
315               []
316               []
317               []
318               []
319               []
320         [ 21172]
321               []
322               []
323               []
324          [ 2343]
325         [ 17760]
326               []
327               []
328               []
329               []
330               []
331               []
332         [ 17582]
333               []
334         [ 17611]
335               []
336               []
337               []
338               []
339               []
340               []
341               []
342               []
343               []
344               []
345               []
346               []
347               []
348         [ 37671]
349               []
350               []
351               []
352               []
353               []
354               []
355               []
356               []
357               []
358               []
359               []
360               []
361          [ 2167]
362               []
363       [ 3101310]
364               []
365          [ 7076]
366               []
367               []
368               []
369         [ 17477]
370               []
371               []
372               []
373         [ 17760]
374               []
375         [ 17604]
376          [ 7077]
377               []
378               []
379               []
380         [ 17757]
381               []
382    [ 2. 3101293]
383               []
384               []
385         [ 14879]
386          [ 2144]
387               []
388               []
389          [ 1748]
390               []
391               []
392               []
393               []
394          [ 9549]
395               []
396               []
397               []
398               []
399               []
400    [ 2. 3101289]
401               []
402               []
403       [ 3101279]
404               []
405               []
406               []
407               []
408               []
409               []
410               []
411               []
412               []
413               []
414    [ 2. 3101269]
415               []
416               []
417               []
418               []
419               []
420               []
421         [ 13032]
422               []
423               []
424               []
425         [ 34244]
426               []
427               []
428               []
429        [ 392078]
430               []
431               []
432          [ 3085]
433    [ 2. 3101274]
434               []
435               []
436          [ 6608]
437               []
438               []
439         [ 18723]
440         [ 13529]
441               []
442               []
443               []
444               []
445               []
446               []
447               []
448               []
449               []
450         [ 34651]
451               []
452               []
453               []
454          [ 2817]
455               []
456               []
457               []
458         [ 13531]
459               []
460               []
461               []
462               []
463               []
464          [ 2816]
465       [ 3101306]
466               []
467               []
468               []
469               []
470               []
471               []
472         [ 34651]
473     [ Basle 541]
474               []
475               []
476               []
477               []
478               []
479               []
480          [ 2144]
481               []
482          [ 3594]
483               []
484               []
485               []
486               []
487               []
488         [ 18509]
489         [ 37671]
490               []
491       [ 3101317]
492               []
493         [ 17609]
494         [ 45380]
495               []
496               []
497          [ 6212]
498               []
499               []
500               []
501               []
502               []
503               []
504               []
505         [ 17758]
506               []
507               []
508          [ 4001]
509               []
510               []
511       [ 3101316]
512         [ 17473]
513         [ 17603]
514               []
515               []
516         [ 34260]
517               []
518               []
519               []
520               []
521               []
522               []
523               []
524               []
525               []
526         [ 14258]
527         [ 17483]
528               []
529               []
530               []
531               []
532               []
533               []
534               []
535         [ 13529]
536               []
537         [ 17761]
538               []
539               []
540          [ 5735]
541               []
542               []
543               []
544         [ 17761]
545               []
546               []
547          [ 2146]
548               []
549         [ 33112]
550               []
551               []
552               []
553               []
554               []
555               []
556               []
557         [ 17757]
558               []
559               []
560               []
561               []
562               []
563        [ 392082]
564        [ 392087]
565         [ 48871]
566               []
567               []
568               []
569               []
570           [ 752]
571               []
572         [ 17474]
573               []
574         [ 20589]
575               []
576               []
577               []
578               []
579    [ 2. 3101286]
580               []
581               []
582               []
583               []
584               []
585               []
586               []
587               []
588               []
589          [ 3235]
590    [ 2. 3101273]
591               []
592          [ 3902]
593               []
594         [ 29037]
595               []
596               []
597               []
598               []
599         [ 17485]
600               []
601               []
602               []
603               []
604               []
605               []
606               []
607               []
608          [ 2123]
609         [ 17582]
610               []
611       [ 3101305]
612               []
613               []
614               []
615               []
616               []
617          [ 3336]
618               []
619               []
620               []
621               []
622               []
623               []
624               []
625               []
626               []
627               []
628               []
629               []
630               []
631               []
632               []
633               []
634               []
635               []
636    [ 2. 3101292]
637         [ 31921]
638               []
639               []
640               []
641         [ 17477]
642               []
643               []
644               []
645         [ 17572]
646               []
647               []
648           [ 751]
649          [ 2314]
650               []
651               []
652               []
653               []
654               []
655         [ 14879]
656               []
657               []
658               []
659               []
660         [ 17611]
661               []
662               []
663               []
664    [ 2. 3101285]
665         [ 14879]
666               []
667               []
668          [ 3536]
669               []
670               []
671         [ 12750]
672         [ 24580]
673               []
674               []
675               []
676               []
677               []
678          [ 2144]
679         [ 17755]
680               []
681         [ 17572]
682               []
683          [ 2144]
684               []
685          [ 2123]
686               []
687               []
688               []
689               []
690               []
691               []
692               []
693               []
694               []
695               []
696               []
697               []
698               []
699               []
700         [ 17757]
701         [ 17475]
702               []
703               []
704               []
705               []
706               []
707         [ 17476]
708               []
709               []
710         [ 17482]
711               []
712               []
713               []
714               []
715               []
716         [ 17757]
717               []
718               []
719               []
720               []
721               []
722               []
723               []
724               []
725               []
726               []
727               []
728               []
729       [ 3101271]
730               []
731               []
732               []
733               []
734               []
735               []
736          [ 6608]
737         [ 17755]
738               []
739               []
740               []
741               []
742         [ 17608]
743               []
744    [ 2. 3101288]
745          [ 5735]
746          [ 2673]
747               []
748               []
749               []
750               []
751               []
752               []
753               []
754               []
755               []
756               []
757               []
758               []
759               []
760               []
761       [ 3101272]
762               []
763               []
764               []
765               []
766               []
767               []
768               []
769               []
770               []
771               []
772             [ 3]
773               []
774               []
775               []
776               []
777               []
778               []
779               []
780               []
781               []
782               []
783          [ 6607]
784       [ 3101312]
785               []
786               []
787               []
788          [ 2315]
789         [ 17593]
790               []
791               []
792          [ 2343]
793         [ 17600]
794               []
795               []
796               []
797               []
798               []
799               []
800               []
801         [ 31921]
802               []
803               []
804               []
805               []
806               []
807               []
808               []
809               []
810               []
811         [ 48871]
812               []
813               []
814               []
815               []
816       [ 3101290]
817          [ 2079]
818          [ 7075]
819               []
820               []
821               []
822               []
823               []
824               []
825               []
826               []
827          [ 2079]
828               []
829               []
830               []
831               []
832               []
833               []
834               []
835         [ 17756]
836               []
837               []
838               []
839               []
840       [ 3101287]
841             [ 3]
842               []
843               []
844               []
845          [ 5547]
846          [ 2343]
847               []
848               []
849               []
850               []
851               []
852               []
853         [ 17592]
854               []
855               []
856               []
857               []
858               []
859               []
860               []
861               []
862               []
863          [ 2343]
864               []
865               []
866          [ 2149]
867         [ 17590]
868               []
869               []
870               []
871               []
872               []
873               []
874          [ 3381]
875               []
876               []
877               []
878               []
879               []
880               []
881               []
882               []
883         [ 34068]
884        [ 392076]
885               []
886               []
887               []
888          [ 6607]
889               []
890               []
Name: Ticket, Length: 891, dtype: object